# ----------------------------------------------------------------------------
# machine learning and plotting
# ----------------------------------------------------------------------------

# Install manually before for CPU-only version. See README for details.
torch

mnist1d
scikit-learn
torchinfo
umap-learn

# vim:syn=conf
